dj-database-url==0.4.2
Django==1.9.1
django-braces==1.11.0
django-cors-headers==2.1.0
djangorestframework==3.6.4
djoser==0.7.0
gunicorn==19.7.1
psycopg2==2.7.3.1
python-engineio==1.7.0
python-socketio==1.8.1
six==1.11.0
