dj-database-url==0.4.2
Django==1.11.6
django-cors-headers==2.1.0
django-extra-fields==0.9
django-templated-mail==1.0.0
djangorestframework==3.7.1
djoser==1.0.0
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.21.0
greenlet==0.4.12
gunicorn==19.7.1
olefile==0.44
Pillow==4.3.0
psycopg2==2.7.3.1
python-engineio==1.7.0
python-socketio==1.8.1
pytz==2017.2
six==1.11.0
whitenoise==3.3.1
