{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flux • TodoMVC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/base.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'client/css/app.css'%}" />
  </head>
  <body>
    <section id="todoapp"></section>
    <footer id="info">
      <p>Double-click to edit a todo</p>
      <p>Created by <a href="http://github.com/julienR2/travelNetwork">Startup</a></p>
    </footer>
    <script src="{% static 'client/js/bundle.min.js' %}"></script>
  </body>
</html>
