# Database
# https://docs.djangoproject.com/en/1.8/ref/settings/#databases

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os

BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

SECRET_KEY = ''

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    }
}

#path to static
STATIC_ROOT = '/path/to/static'

DEBUG = True

ALLOWED_HOSTS = []
